extends layout

block append head
  link(rel='stylesheet',href='/stylesheets/admin.css')

block main-stage
  .main-stage-inner
    .page-header
      h1 管理员

      .page-nav
        a(href='/admin/logout').logout.btn 
          span.text 退出

    .page-content.row-fluid
      .span3
        .sidebar
          ul.nav.nav-list
            li.nav-header 文章管理
            li
              a(href='/admin/article/new') 编写新文章
            li
              a(href='/admin/articles') 浏览文章
            li.nav-header 首页管理
            li
              a(href='/admin/head') 首页图片

      .span9
        block admin-stage
