extends article-layout

block append breadcrumb
  if typeof post != 'undefined' && post._id
    li
      span.divider /
      a(href='admin/articles/catalog/view/'+post.catalog.id)= post.catalog.name
  li.active
    span.divider /
    | 编辑文章

block admin-stage
  include article-edit
