extends article-layout

block append breadcrumb
  if typeof catalog != 'undefined' && catalog.name
    li
      span.divider /
      a(href=_('/admin/articles/catalog/view/')+catalog.id)= catalog.name
  else
    li.active
      span.divider /
      span 新建栏目

block admin-stage
  include catalog-edit
