extends ../site

block append head
  link(rel='stylesheet',href='/stylesheets/admin.css')

block main-stage
  ul.breadcrumb#path
    block breadcrumb
      li
        a(href='/admin/') 管理首页

  .main-stage-inner
    .page-header
      block title
        if typeof title != 'undefined'
          h1 管理页面：#{title}
        else
          h1 管理页面

    block admin-stage
      
