extends ../site

block append head
  link(rel='stylesheet',href='/stylesheets/admin.css')

block main-stage
  ul.breadcrumb
    block breadcrumb
      li
        a(href='/admin/') 管理首页

  .main-stage-inner
    .page-header
      block title
        h1 管理页面：#{title}

    block admin-stage
      
