extends site

block main-stage

  .hero-unit.logo
    h1 关于
    p.poem 
      :markdown
        一个小想法，一个小网站，一个……

        本网站纯属娱乐。
        大部分文章整理自网络，并已标明出处。
        如觉得仍有不当之处，请指出，限期内整改。

        由[东大在线](http://neuonline.neu.edu.cn/)管理。

    a.btn.btn-primary(href='') 回到首页
    | 
    a.btn(href='feedback') 给我们建议

