extends site

block main-stage

  .hero-unit.logo
    h1 关于
    p.poem 
      :markdown
        本网站纯属娱乐。

        大部分文章整理自网络，并已标明出处。

        如觉得仍有不当之处，请指出，限期内整改。

        由东大在线管理。

    a.btn.btn-primary(href=_('/')) 回到首页
    | 
    a.btn(href=_('/feedback')) 给我们建议

