extends site

block main-stage

  .hero-unit.logo
    h1 关于
    p.poem 
      :markdown
        “东大在线”网络传媒工作室成立于2008年3月，
        隶属于东北大学党委宣传部新闻中心网络管理室。

        社团走在东北大学网络思想政治教育阵地的最前沿，
        是一个辅助党委宣传部建设东北大学部分新闻网站
        与高校网站共建网站以及时政性的新闻网站的策划、
        技术、美工、维护、网络活动组织、舆情等工作的学
        生社团。

    a.btn.btn-primary(href=_('/')) 回到首页
    | 
    a.btn(href=_('/feedback')) 给我们建议

