extends site

block append head
  link(rel='stylesheet', href=basePath+'/stylesheets/article.css')

block main-stage
  .main-stage-inner.article
    if post
      h1.title= post.title
      .info
        | by 
        span.author=  post.author 
        | @ 
        span.date= post.date
      .text
        !{post.html}
    else
      p No content?

