- var d = null
for post in posts
  if d != post.date.toDateString()
    .date #{post.date.getMonth()+1}月#{post.date.getDate()}日
    - d = post.date.toDateString()
  .text 「文章」 
    a(href='article/'+post.url) #{post.title}
else
  .no-result 还没有文章哦~
