extends site

block append head
  meta(
    http-equiv='refresh'
    content='5; url='+_(link)
  )
  style
    .secs {
      display: none;
    }
  script
    $(function() {
      $('.secs').css('display', 'inline');
      setInterval(function () {
        var sec = parseInt($('#seconds').text());
        $('#seconds').text(--sec);
      }, 1000);
    });

block main-stage
  .hero-unit
    h1 完成！ ^_^
    p= message
    a(href=_(link)).btn.btn-primary
      span.secs
        span#seconds 5
        | 秒后
      继续

