doctype 5
html
  head
    title= title
    block head
      link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
      link(rel='stylesheet', href='/stylesheets/neuola.css')
      script(src="/javascripts/jquery.js")

  body
    block content

    script(src="/javascripts/bootstrap.js")
