doctype 5
html
  head
    if typeof title != 'undefined'
      title= title
    else
      title Neuola
    block head
      base(href=basePath)
      link(rel='stylesheet', href='stylesheets/bootstrap/bootstrap.css')
      link(rel='stylesheet', href='stylesheets/neuola.css')
      script(src='javascripts/jquery.js')

  body
    block content

    script(src='javascripts/bootstrap.js')
