
.page-header {
  position: relative;

  .logout {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    text-align: right;
  }
}

.sidebar {
  border-right: 1px solid #eee;
}

.action-bar {
  position: relative;
  line-height: 1.5em;
  margin-bottom: 1em;

  form {
    position: absolute;
    right: 0;
    top: 1em;
  }
}
