
@dateboxbg: #049cdb;

.article {

  position: relative;

  .date-box {
    position: absolute;
    left: 1em;
    top: 1em;
    z-index: 100;

    width: 64px;
    margin: 8px 18px 8px 8px;
    border: 2px solid @dateboxbg;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;

    .date {
      background-color: @dateboxbg;
      font-size: 30px;
      color: #f3f3f3;
      line-height: 50px;
    }

    .year-month {
      background-color: white;
    }
  }

  .title {
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;
    text-align: center;
    font-size: 24pt;
    line-height: 1.5em;
  }

  .info {
    text-align: center;

    .author {
      font-weight: 600;
    }
  }

  .text {
    margin-top: 1em;
    margin-bottom: 1em;
    border-top: 1px solid #ccc;
    padding-top: 2em;

    code {
      white-space: pre-wrap;
    }
  }

  .action {
    padding-top: 20px;
    border-top: 1px solid #ccc;
    background-color: #f1f1f1;

    #uyan_frame {
      margin: 0 15px;
    }
  }
}
