.article h1.title {
  margin-bottom: 0.5em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid #ccc;
}
.article .info {
  text-align: center;
}
.article .info .author {
  font-weight: 600;
}
.article .text {
  margin-top: 1em;
  margin-bottom: 1em;
}
.article .text p {
  text-indent: 2em;
}
