

.article {
  h1.title {
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #ccc;
  }

  .info {
    text-align: center;

    .author {
      font-weight: 600;
    }
  }

  .text {
    margin-top: 1em;
    margin-bottom: 1em;

    p {
      text-indent: 2em;
    }
  }
}
