.page-list {
  margin: 0 auto;
}
.page-list li {
  list-style: none;
  margin: 1em 0;
  padding: .5em 1em;
  box-shadow: 0 0 5px #999;
}
.page-list li:hover {
  background-color: #f5f5f5;
}
.page-list li .author {
  float: left;
  width: 64px;
  height: 100px;
  padding-right: 1em;
}
.page-list li .author .img {
  width: 64px;
  height: 64px;
  background-color: #cfcfcf;
  border-radius: 10px;
}
.page-list li .author .text {
  text-align: center;
}
.page-list li .title {
  font-size: 1.5em;
  line-height: 2em;
  border-bottom: 1px solid #efefef;
}
.page-list li .info .author {
  font-weight: 600;
}
.page-list li .action {
  text-align: right;
}
