
@dateboxbg: #049cdb;

.no-result {
  height: 300px;
  line-height: 300px;
  font-size: 2em;
  text-align: center;
}

.articles {
  float: left;
  width: 660px;
  margin: 0 10px;

  .post {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
  }

  .date-box {
    width: 64px;
    float: left;
    margin: 8px 18px 8px 8px;
    border: 2px solid @dateboxbg;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;

    .date {
      background-color: @dateboxbg;
      font-size: 30px;
      color: #f3f3f3;
      line-height: 50px;
    }

    .year {
      float: left;
    }

    .month {
      float: right;
    }
  }

  .box {
    width: 566px;
    float: left;

    .title {
      font-size: 24px;
      line-height: 30px;
      padding-bottom: 0.2em;
      border-bottom: 1px solid #efefef;
    }

    .description {
      height: 1.5em;
      overflow: hidden;
      margin: 0.5em;
    }

  }
  .action {
    position: absolute;
    right: 1em;
    bottom: 1em;
  }

}

.sidebar {
  float: left;
  width: 240px;
  margin: 0 10px;

  .sidebar-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;

    .title {
      background-color: @dateboxbg;
      color: white;
      text-indent: 10px;
      margin-bottom: 10px;
      font-size: 1.3em;
      line-height: 2em;
    }

    .content {
      padding: 0 10px;
    }
  }

  .search-box {
    .content {
      text-align: center;
    }
  }
}
