
.page-list {
  margin: 0 auto;

  li {
    list-style: none;
    margin: 1em 0;
    padding: .5em 1em;

    &:hover {
      background-color: #fefefe;
    }

    &.post-left {
      .author {
        float: left;
      }
    }

    &.post-right {
      .author {
        float: right;
      }
    }

    .author {
      width: 64px;
      height: 100px;
      padding: 1em;

      .img {
        width: 64px;
        height: 64px;
        line-height: 60px;
        text-align: center;
        background-color: #efefef;
        border-radius: 10px;
        img {
          vertical-align: center;
        }
      }

      .text {
        text-align: center;
      }
    }

    .box {

      .title {
        font-size: 1.5em;
        line-height: 2em;

        border-bottom: 1px solid #efefef;
      }

      .info {
        .author {
          font-weight: 600;
        }
      }

      .action {
        text-align: right;
      }
    }
  }
}
